.button-preview {
  background: -webkit-linear-gradient(top,#61BD4F 0,#5AAC44 100%);
  background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
  box-shadow: 0 1px 0 #3F6F21;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  display: inline-flex;
  width: 130px;
  min-height: 30px;
  padding: 4px 1pc;
  vertical-align: top;
  margin-top: 40px;
  margin-bottom: 0;
}

.button-next {
  background: -webkit-linear-gradient(top,#61BD4F 0,#5AAC44 100%);
  background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
  box-shadow: 0 1px 0 #3F6F21;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  display: inline-flex;
  width: 130px;
  min-height: 30px;
  padding: 4px 1pc;
  vertical-align: top;
  margin-top: 40px;
  margin-bottom: 0;
}

.button-next, .button-preview {
  margin-left: 3%;
}


@media screen and (min-width: 641px) and (max-width: 960px) {
  .button-preview {
    background: -webkit-linear-gradient(top,#61BD4F 0,#5AAC44 100%);
    background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
    box-shadow: 0 1px 0 #3F6F21;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    display: inline-flex;
    width: 130px;
    min-height: 30px;
    padding: 4px 1pc;
    vertical-align: top;
    margin-top: 40px;
    margin-bottom: 0;
    display: none;
  }

  .button-next {
    background: -webkit-linear-gradient(top,#61BD4F 0,#5AAC44 100%);
    background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
    box-shadow: 0 1px 0 #3F6F21;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    display: inline-flex;
    width: 130px;
    min-height: 30px;
    padding: 4px 1pc;
    vertical-align: top;
    margin-top: 40px;
    margin-bottom: 0;
    display: none;
  }

  .button-next, .button-preview {
    margin-left: 3%;
  }



}