
.flex-parent {
    margin: auto;
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between; 
    align-items: baseline; 
    align-content: center;
}

.flex-child {
    width: 660px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: flex;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

#right-side {
    float: right;
}

li a:hover {
    background-color: green;
}