button {
  -webkit-appearance:none;

  box-sizing:border-box;
  padding:10px;

  background-color: rgba(0, 121, 191, 1);
  border-radius:3px;
  border:1px solid white;
  color:white;

  opacity:0.5;
  transition:opacity 0.3s;
}
button:hover {
  cursor:pointer;
  background-color: rgba(0, 121, 191, 0.8);
  opacity:1;
}
.project {
  .add-task {
    width:100%;
    margin-bottom:10px;
    transition:0.3s;
    background-color:rgba(0,0,0,0);
  }
}
.delete-button {
  position:absolute;
  right:5px;
  top:12px;

  width:16px;
  height:16px;

  line-height:40px;
  padding-left:5px;
  padding-right:5px;

  background-color:white;
  background-image:url('../../assets/image/delete.svg');
  background-position: center;
  background-size:35%;
  background-repeat:no-repeat;
  border-radius:2px;
  font-size:8px;
  color:black;
  font-weight:bold;
  cursor:pointer;
  user-select:none;

  opacity:0.6;
  transition:opacity 0.3s;

  &:hover {
    opacity:1;
  }
}
@keyframes animate-add {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}
.animate-add {
  animation:animate-add 0.5s;
}
